 @import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova&display=swap');

 body{

 	font-family:'Ibarra Real Nova', serif;
 	overflow-x:hidden;
 }


 .myfooter{
 	background-color:black;
 	padding:10px;
 	color:white;
 	text-align:center;
 }

 .menu{
 	background-color: #ffab4c ;
 }